src/main/mule/compress-decompress.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
	http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
	http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">

	<flow name="compress-decompress-main">
		<http:listener
			config-ref="compress-decompress-httpsListenerConfig" path="/api/*">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router config-ref="compress-decompress-config" />
	</flow>
	<flow name="compress-decompress-console">
		<http:listener
			config-ref="compress-decompress-httpsListenerConfig" path="/console/*">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console config-ref="compress-decompress-config" />
	</flow>
	<flow name="get:\healthcheck:compress-decompress-config">
		<flow-ref
			doc:name="compress-decompress-implementation-get-healthcheck"
			doc:id="d5da0913-82d2-43f7-ad8a-4051a34f820c"
			name="compress-decompress-implementation-get-healthcheck" />
	</flow>
	
	<flow name="post:\enqueue:compress-decompress-config">
		<flow-ref
			doc:name="compress-decompress-post-enqueue"
			doc:id="7490e679-519d-4b8e-b2e3-4e6d6314a88d"
			name="compress-decompress-implementation-post-enqueue" />
	</flow>
	
	<flow name="post:\enqueueFile:compress-decompress-config">
		<flow-ref
			doc:name="compress-decompress-post-enqueueFile"
			doc:id="70cb7d12-9371-45e8-bdbc-64d63baf7008"
			name="compress-decompress-implementation-post-enqueueFile" />
	</flow>
	
</mule>
